.inner-page-banner {
    background: url('/mobile-application-bg.webp') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    color: white;
    position: relative;
}

.inner-page-banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.inner-page-banner p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
}


@media (max-width: 768px) {
    

    .inner-page-banner h1 {
        font-size: 2rem;
    }

    .inner-page-banner p {
        font-size: 1rem;
    }
}