 .contact-section{
    background: url("/mobile-application-bg.webp") center/cover no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: white;
}
.contact-form-wrapper {
  background: #ffffff;
  padding: 50px;
  border-radius: 24px;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.08);
}

.form-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  color: black;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  margin-bottom: 18px;
  font-size: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  outline: none;
  border-color: #f15a22;
}


/* Contact Info */
.contact-info-box {
  padding-left: 30px;
  display: flex;
}

.contact-info-item {
  display: flex;
  gap: 20px;
  margin-bottom: 35px;
}

.contact-info-item svg {
  font-size: 26px;
  color: white;
  margin-top: 6px;
}

.contact-info-item h5 {
  font-weight: 700;
  margin-bottom: 5px;
}

.contact-info-item p {
  color: #c2c2c2;
  margin-bottom: 4px;
}

.contact-info-item a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* Responsive */
@media (max-width: 992px) {
  .contact-info-box {
    padding-left: 0;
  }
}
