.clients-section {

    background: linear-gradient(180deg, #f8fbff, #edf5fb);
}

.clients-title {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    color: #111;
}

.clients-subtitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 10px;
}

/* COUNTRY CARD */
.countries-swiper {
    padding: 40px 20px 60px;
}
.flagsIcon {
    box-shadow: 0 12px 20px 0px rgba(65, 51, 183, 0.25);
}
.country-card {
    height: 100%;
    padding: 40px 30px;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(14px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: 0.4s ease;
}

.country-card:hover {
    transform: translateY(-10px);
    background: #fc885e;
     box-shadow: 0 15px 30px rgba(255, 143, 16, 0.349);
}

/* HEADER */
.country-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.country-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.country-header h4 {
    margin: 0;
    font-weight: 600;
}

/* LOGO SLIDER */
.client-logo-swiper {
    width: 100%;
}

.logo-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.logo-slide img {
    max-width: 160px;
    max-height: 70px;
    object-fit: contain;
    /* filter: grayscale(100%); */
    transition: 0.4s;
    border: 1px solid #00000023;
    border-radius: 7px;
}

.logo-slide img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}