.portfolio-portfolio-section {
    background: url("/src/assets/images/main-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.portfolio-swiper-scope .swiper-slide {
    height: auto;
    display: flex;
}


.portfolio-swiper-scope .portfolio-swiper {
    padding: 100px 20px 60px;
}

.portfolio-swiper-scope .portfolio-swiper .swiper {
    overflow: visible;
}

.portfolio-swiper-scope .portfolio-card {
    background: #ffffff;
    border-radius: 20px;
    padding: 35px 30px 40px;
    text-align: left;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.062);
    transition: all 0.4s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #5f5f5f34;
}

.portfolio-swiper-scope .portfolio-card:hover {
    transform: translateY(-12px);
    border: 1px solid #ff5a1f;
}

/* IMAGE WRAPPER */
.portfolio-swiper-scope .portfolio-img-wrap {
    margin-top: -140px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* IMAGE STYLE */
.portfolio-swiper-scope .portfolio-img-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.portfolio-swiper-scope .portfolio-card h4 {
    font-weight: 700;
    margin-bottom: 12px;
    color: #111;
    margin-top: 15px;
}

.portfolio-swiper-scope .portfolio-card p {
    color: #6b7280;
    font-size: 15px;
    line-height: 1.6;
}

.portfolio-swiper-scope .portfolio-btn {
    margin-top: 15px;
    background: #ff5a1f;
    color: #fff;
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.portfolio-swiper-scope .portfolio-btn:hover {
    background: #e44a14;
}

@media (max-width: 768px) {
    .portfolio-swiper-scope .portfolio-img-wrap {
        margin-top: -80px;
        height: 160px;
    }

    .portfolio-title {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .portfolio-swiper-scope .portfolio-img-wrap {
        margin-top: -60px;
        height: 130px;
    }
}