.testimonials-section {
    background: url("../../assets/images/main-bg.jpg") center/cover no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
}

.testimonials-subtitle {
    color: rgb(48, 48, 48);
    margin: 15px 0;
    font-size: 3rem;
}