/* MAP WRAPPER */
.contact-map-wrapper {
  position: relative;
  margin-top: 30px;
}

.contact-map-wrapper img {
    filter: invert(1);
  width: 100%;
  max-width: 700px;
}

/* HOTSPOT */
.map-hotspot {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #f15a22;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

/* PULSE EFFECT */
.map-hotspot .pulse {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.616);
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}

/* TOOLTIP */
.map-tooltip {
  position: absolute;
  bottom: 160%;
  left: 50%;
  transform: translateX(-50%);
  background: #1f1f1f;
  color: #fff;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 13px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.map-tooltip strong {
  display: block;
  font-size: 14px;
}

.map-hotspot:hover .map-tooltip {
  opacity: 1;
}

/* MOBILE */
@media (max-width: 768px) {
  .contact-map-wrapper img {
    max-width: 100%;
  }
}
